.wrapper{
    max-width: 921px;
    margin: 0 auto;
    .submenu{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 770px;
        margin: 0 auto;
        padding-top: 20px;
        grid-gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        
        a {
            position: relative;
            margin: 0 auto;

                img {
                    max-width: 100%;
                    border-radius: 10px;
                }

            span {
                position: absolute;
                bottom: 18px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                color: white;
                font-size: 20px;
              }

            &:first-child,
            &:nth-child(4){
                grid-column-start: 1;
                grid-column-end: 3;
            }
            &:nth-child(5){
                grid-column: 3/5;
            }
        }

        @media (max-width: 480px) {
            grid-gap: 5px;
        }
    }
    @media (max-width: 480px) {
        
    }
}
